[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
loguru = "*"
xlsxwriter = "*"
win32-setctime = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.7"
